{% extends 'layout.html' %}

{% block content %}
    <div class="login-page clearfix">
        <h1>cheque.li development environment</h1>
    
        <hr>
        <img src="https://i.cloudup.com/StzWWrY34s.png" width="25pcx" />
        <small>Login using auth0.com, test upload & OCR</small>
        <a id="qsLoginBtn" class="btn btn-login btn-block" href="/login/auth0">Log In</a>
        
        <hr>
        <small>View API directory (swagger)</small>
        <a id="qsLoginBtn" class="btn btn-block" href="/admin">APIs</a>
        
        <hr>
        <small>Django DB Admin (credentials: test/test)</small>
        <a id="qsLoginBtn" class="btn btn-block" href="/admin">DB admin</a>
    </div>
{% endblock content %}
